<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
       <section id="vaibhav_section" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>seperator-top</class>
            <label>Vaibhav Config</label>
            <tab>general</tab>
            <resource>Hummingbird_Mod9::hummingbird_mod9</resource>
            <group id="vaibhav_group" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Vaibhav Configuration</label>
                <field id="field1" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="field2" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text to Display</label>
                    <depends>
                        <field id="field1">1</field>
                    </depends>
                </field>
            </group>
       </section>
    </system>
</config>
