<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="afterGetName" type="Hummingbird\Mod2\Plugin\SalePlugin" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="beforeAddCrumb" type="Hummingbird\Mod2\Plugin\BreadcrumbPlugin" />
    </type>

    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="afterGetWelcome" type="Hummingbird\Mod2\Plugin\CustomMessage" />
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="afterGetCopyright" type="Hummingbird\Mod2\Plugin\CustomMessage" />
    </type>

</config>